.parent{
    display: flex;
    width: 600px;
    margin: auto;
    justify-content: space-around;
    border-bottom: 2px double;
}
.child{
    display:flex; 
    width: 600px;
    margin: auto;
    align-items: flex-start;
}
 .name{
   text-align: center;
}
a{
    color: black;
    text-decoration: none ;
}
a:active{
    font-weight: bold;
}
a:hover{
    font-style: italic;
}
a:visited{
    text-decoration: silver;
}
.footer{
    display: flex;
    width: 600px;
    margin: auto;
    border-top: 2px double;
    justify-content: center;
}
.italic{
    font-style: italic;
}
.line{
    border-bottom: double;
}